# For early development, parts of the dashboard will be populated from this Google sheet:
# https://docs.google.com/spreadsheets/d/1_jFImMo4fZd8vQ7x4wAyLzxnnkn95F-vSXCV-yLzbi4/edit?alt=json&gid=0#gid=0
VITE_GOOGLE_API_KEY=