:root {
    /* override the Bootstrap font stack */
    --bs-font-sans-serif: Lato,Helvetica,Arial,sans-serif;
    --significant-idd-outcome: #fee7d5;
    --significant-nonidd-outcome: #dfe3f2;
}

h2 {
    color: #0e4d8f;
}

#tableContainer {
    margin-top: 1em;
}

table.rounded-corners {
    --border: 1px solid darkgrey;

    border: var(--border);
    border-radius: 10px;
    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;
}
table.rounded-corners td,
table.rounded-corners th {
    border-bottom: var(--border);
    padding: 10px;
}
table.rounded-corners th:not(:last-child),
table.rounded-corners td:not(:last-child) {
    border-right: var(--border);
}
table.rounded-corners tr:last-child > td {
    border-bottom: none;
}

tr.significant-idd-row td {
    background-color: var(--significant-idd-outcome) !important;
}

tr.significant-nonidd-row td {
    background-color: var(--significant-nonidd-outcome) !important;
}

.significant-idd-block-text {
    padding-left: 1em;
    padding-right: 1em;
    color: black;
    background-color: var(--significant-idd-outcome) !important;
}

.significant-nonidd-block-text {
    padding-left: 1em;
    padding-right: 1em;
    color: black;
    background-color: var(--significant-nonidd-outcome) !important;
}
